openapi: 3.0.3
info:
  title: HamClock API
  description: API endpoints for HamClock — a real-time amateur radio clock and propagation
    display application.
  version: 1.0.0
  license:
    name: CC BY-ND 4.0
    url: https://creativecommons.org/licenses/by-nd/4.0/
  contact:
    name: HamClock
    url: https://www.clearskyinstitute.com/ham/HamClock/
servers:
- url: http://clearskyinstitute.com
  description: Clear Sky Institute (primary)
- url: http://ohb.hamclock.app
  description: OHB HamClock instance
- url: http://hamclock.com
  description: HamClock.com
tags:
- name: Solar Weather
  description: Solar flux, X-ray, Bz, solar wind, and space weather data
- name: Geomagnetic
  description: Geomagnetic indices including K-index and DST
- name: Propagation
  description: HF band condition and MUF prediction scripts
- name: Reporters
  description: PSK Reporter, RBN, and WSPR spot data
- name: Maps
  description: Day and night map overlays at various resolutions
- name: SDO Images
  description: Solar Dynamics Observatory solar imagery
- name: Satellites
  description: Satellite tracking data
- name: Weather
  description: World weather and local weather data
- name: Miscellaneous
  description: Contests, DXpeditions, city data, version info, and more
paths:
  /ham/HamClock/Bz/Bz.txt:
    get:
      tags:
      - Solar Weather
      summary: Bz.txt
      description: Standard HamClock API endpoint.
      parameters: []
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                type: string
  /ham/HamClock/NOAASpaceWX/noaaswx.txt:
    get:
      tags:
      - Solar Weather
      summary: noaaswx.txt
      description: Standard HamClock API endpoint.
      parameters: []
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                type: string
  /ham/HamClock/NOAASpaceWX/rank2_coeffs.txt:
    get:
      tags:
      - Solar Weather
      summary: rank2_coeffs.txt
      description: Standard HamClock API endpoint.
      parameters: []
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                type: string
  /ham/HamClock/ONTA/onta.txt:
    get:
      tags:
      - Miscellaneous
      summary: onta.txt
      description: Standard HamClock API endpoint.
      parameters: []
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                type: string
  /ham/HamClock/RSS/web15rss.pl:
    get:
      tags:
      - Miscellaneous
      summary: web15rss.pl
      description: Standard HamClock API endpoint.
      parameters: []
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                type: string
  /ham/HamClock/SDO/f_131_170.bmp.z:
    get:
      tags:
      - SDO Images
      summary: f_131_170.bmp.z
      description: Standard HamClock API endpoint.
      parameters: []
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                type: string
  /ham/HamClock/SDO/f_131_340.bmp.z:
    get:
      tags:
      - SDO Images
      summary: f_131_340.bmp.z
      description: Standard HamClock API endpoint.
      parameters: []
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                type: string
  /ham/HamClock/SDO/f_131_680.bmp.z:
    get:
      tags:
      - SDO Images
      summary: f_131_680.bmp.z
      description: Standard HamClock API endpoint.
      parameters: []
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                type: string
  /ham/HamClock/SDO/f_193_170.bmp.z:
    get:
      tags:
      - SDO Images
      summary: f_193_170.bmp.z
      description: Standard HamClock API endpoint.
      parameters: []
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                type: string
  /ham/HamClock/SDO/f_193_340.bmp.z:
    get:
      tags:
      - SDO Images
      summary: f_193_340.bmp.z
      description: Standard HamClock API endpoint.
      parameters: []
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                type: string
  /ham/HamClock/SDO/f_193_680.bmp.z:
    get:
      tags:
      - SDO Images
      summary: f_193_680.bmp.z
      description: Standard HamClock API endpoint.
      parameters: []
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                type: string
  /ham/HamClock/SDO/f_211_170.bmp.z:
    get:
      tags:
      - SDO Images
      summary: f_211_170.bmp.z
      description: Standard HamClock API endpoint.
      parameters: []
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                type: string
  /ham/HamClock/SDO/f_211_193_171_170.bmp.z:
    get:
      tags:
      - SDO Images
      summary: f_211_193_171_170.bmp.z
      description: Standard HamClock API endpoint.
      parameters: []
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                type: string
  /ham/HamClock/SDO/f_211_193_171_340.bmp.z:
    get:
      tags:
      - SDO Images
      summary: f_211_193_171_340.bmp.z
      description: Standard HamClock API endpoint.
      parameters: []
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                type: string
  /ham/HamClock/SDO/f_211_193_171_510.bmp.z:
    get:
      tags:
      - SDO Images
      summary: f_211_193_171_510.bmp.z
      description: Standard HamClock API endpoint.
      parameters: []
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                type: string
  /ham/HamClock/SDO/f_211_193_171_680.bmp.z:
    get:
      tags:
      - SDO Images
      summary: f_211_193_171_680.bmp.z
      description: Standard HamClock API endpoint.
      parameters: []
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                type: string
  /ham/HamClock/SDO/f_211_340.bmp.z:
    get:
      tags:
      - SDO Images
      summary: f_211_340.bmp.z
      description: Standard HamClock API endpoint.
      parameters: []
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                type: string
  /ham/HamClock/SDO/f_211_680.bmp.z:
    get:
      tags:
      - SDO Images
      summary: f_211_680.bmp.z
      description: Standard HamClock API endpoint.
      parameters: []
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                type: string
  /ham/HamClock/SDO/f_304_170.bmp.z:
    get:
      tags:
      - SDO Images
      summary: f_304_170.bmp.z
      description: Standard HamClock API endpoint.
      parameters: []
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                type: string
  /ham/HamClock/SDO/f_304_340.bmp.z:
    get:
      tags:
      - SDO Images
      summary: f_304_340.bmp.z
      description: Standard HamClock API endpoint.
      parameters: []
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                type: string
  /ham/HamClock/SDO/f_304_680.bmp.z:
    get:
      tags:
      - SDO Images
      summary: f_304_680.bmp.z
      description: Standard HamClock API endpoint.
      parameters: []
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                type: string
  /ham/HamClock/SDO/latest_170_HMIB.bmp.z:
    get:
      tags:
      - SDO Images
      summary: latest_170_HMIB.bmp.z
      description: Standard HamClock API endpoint.
      parameters: []
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                type: string
  /ham/HamClock/SDO/latest_170_HMIIC.bmp.z:
    get:
      tags:
      - SDO Images
      summary: latest_170_HMIIC.bmp.z
      description: Standard HamClock API endpoint.
      parameters: []
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                type: string
  /ham/HamClock/SDO/latest_340_HMIB.bmp.z:
    get:
      tags:
      - SDO Images
      summary: latest_340_HMIB.bmp.z
      description: Standard HamClock API endpoint.
      parameters: []
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                type: string
  /ham/HamClock/SDO/latest_340_HMIIC.bmp.z:
    get:
      tags:
      - SDO Images
      summary: latest_340_HMIIC.bmp.z
      description: Standard HamClock API endpoint.
      parameters: []
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                type: string
  /ham/HamClock/SDO/latest_510_HMIIC.bmp.z:
    get:
      tags:
      - SDO Images
      summary: latest_510_HMIIC.bmp.z
      description: Standard HamClock API endpoint.
      parameters: []
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                type: string
  /ham/HamClock/SDO/latest_680_HMIB.bmp.z:
    get:
      tags:
      - SDO Images
      summary: latest_680_HMIB.bmp.z
      description: Standard HamClock API endpoint.
      parameters: []
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                type: string
  /ham/HamClock/SDO/latest_680_HMIIC.bmp.z:
    get:
      tags:
      - SDO Images
      summary: latest_680_HMIIC.bmp.z
      description: Standard HamClock API endpoint.
      parameters: []
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                type: string
  /ham/HamClock/aurora/aurora.txt:
    get:
      tags:
      - Miscellaneous
      summary: aurora.txt
      description: Standard HamClock API endpoint.
      parameters: []
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                type: string
  /ham/HamClock/cities2.txt:
    get:
      tags:
      - Miscellaneous
      summary: cities2.txt
      description: Standard HamClock API endpoint.
      parameters: []
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                type: string
  /ham/HamClock/contests/contests311.txt:
    get:
      tags:
      - Miscellaneous
      summary: contests311.txt
      description: Standard HamClock API endpoint.
      parameters: []
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                type: string
  /ham/HamClock/cty/cty_wt_mod-ll-dxcc.txt:
    get:
      tags:
      - Miscellaneous
      summary: cty_wt_mod-ll-dxcc.txt
      description: Standard HamClock API endpoint.
      parameters: []
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                type: string
  /ham/HamClock/drap/stats.txt:
    get:
      tags:
      - Miscellaneous
      summary: stats.txt
      description: Standard HamClock API endpoint.
      parameters: []
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                type: string
  /ham/HamClock/dst/dst.txt:
    get:
      tags:
      - Geomagnetic
      summary: dst.txt
      description: Standard HamClock API endpoint.
      parameters: []
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                type: string
  /ham/HamClock/dxpeds/dxpeditions.txt:
    get:
      tags:
      - Miscellaneous
      summary: dxpeditions.txt
      description: Standard HamClock API endpoint.
      parameters: []
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                type: string
  /ham/HamClock/esats/esats.txt:
    get:
      tags:
      - Satellites
      summary: esats.txt
      description: Standard HamClock API endpoint.
      parameters: []
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                type: string
  /ham/HamClock/fetchBandConditions.pl:
    get:
      tags:
      - Propagation
      summary: fetchBandConditions.pl
      description: Standard HamClock API endpoint.
      parameters:
      - $ref: '#/components/parameters/ModeEnum_MODE'
      - name: MONTH
        in: query
        required: false
        schema:
          type: number
      - $ref: '#/components/parameters/PathEnum_PATH'
      - name: POW
        in: query
        required: false
        schema:
          type: number
      - name: RXLAT
        in: query
        required: false
        schema:
          type: number
      - name: RXLNG
        in: query
        required: false
        schema:
          type: number
      - name: TOA
        in: query
        required: false
        schema:
          type: number
          minimum: 0.1
          maximum: 30.0
        description: 'Units: degrees'
      - name: TXLAT
        in: query
        required: false
        schema:
          type: number
      - name: TXLNG
        in: query
        required: false
        schema:
          type: number
      - name: UTC
        in: query
        required: false
        schema:
          type: number
      - name: YEAR
        in: query
        required: false
        schema:
          type: number
      - $ref: '#/components/parameters/AntControlEnum_ANTDEDXCONTROL'
      - $ref: '#/components/parameters/AntIndexEnum_ANTDEINDEX'
      - $ref: '#/components/parameters/AntIndexEnum_ANTDXINDEX'
      - name: ANTDEAZ
        in: query
        required: false
        schema:
          type: number
          minimum: 0.0
          maximum: 359.9
        description: 'Units: degrees'
      - name: ANTDXAZ
        in: query
        required: false
        schema:
          type: number
          minimum: 0.0
          maximum: 359.9
        description: 'Units: degrees'
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                type: string
  /ham/HamClock/fetchPSKReporter.pl:
    get:
      tags:
      - Reporters
      summary: fetchPSKReporter.pl
      description: Standard HamClock API endpoint.
      parameters:
      - name: bycall
        in: query
        required: false
        schema:
          type: string
      - name: bygrid
        in: query
        required: false
        schema:
          type: string
      - name: maxage
        in: query
        required: false
        schema:
          type: number
      - name: ofcall
        in: query
        required: false
        schema:
          type: string
      - name: ofgrid
        in: query
        required: false
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                type: string
  /ham/HamClock/fetchRBN.pl:
    get:
      tags:
      - Reporters
      summary: fetchRBN.pl
      description: Standard HamClock API endpoint.
      parameters:
      - name: maxage
        in: query
        required: true
        schema:
          type: number
        description: 'Units: secs'
      - name: ofcall
        in: query
        required: false
        schema:
          type: string
      - name: bycall
        in: query
        required: false
        schema:
          type: string
      - name: bygrid
        in: query
        required: false
        schema:
          type: string
      - name: ofgrid
        in: query
        required: false
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                type: string
  /ham/HamClock/fetchVOACAP-MUF.pl:
    get:
      tags:
      - Propagation
      summary: fetchVOACAP-MUF.pl
      description: Standard HamClock API endpoint.
      parameters:
      - name: HEIGHT
        in: query
        required: true
        description: HamClock map pixel height
        schema:
          type: number
          enum:
          - 330
          - 660
          - 990
          - 1320
          - 1980
          - 2640
          - 2870
          - 3960
      - name: MHZ
        in: query
        required: false
        schema:
          type: number
      - name: MODE
        in: query
        required: true
        description: 'Propagation mode: 3=WSPR 13=FT8 17=FT4 19=CW 22=RTTY 38=SSB
          49=AM'
        schema:
          type: number
          enum:
          - 3
          - 13
          - 17
          - 19
          - 22
          - 38
          - 49
      - name: MONTH
        in: query
        required: true
        schema:
          type: number
      - name: PATH
        in: query
        required: true
        description: 'Path: 0=short 1=long'
        schema:
          type: number
          enum:
          - 0
          - 1
      - name: TOA
        in: query
        required: true
        schema:
          type: number
          minimum: 0.1
          maximum: 30.0
        description: 'Units: degrees'
      - name: TXLAT
        in: query
        required: true
        schema:
          type: number
      - name: TXLNG
        in: query
        required: true
        schema:
          type: number
      - name: UTC
        in: query
        required: true
        schema:
          type: number
      - name: WATTS
        in: query
        required: true
        schema:
          type: number
      - name: WIDTH
        in: query
        required: true
        description: HamClock map pixel width
        schema:
          type: number
          enum:
          - 660
          - 1320
          - 1980
          - 2640
          - 3960
          - 5280
          - 5940
          - 7920
      - name: YEAR
        in: query
        required: true
        schema:
          type: number
      - $ref: '#/components/parameters/AntControlEnum_ANTDEDXCONTROL'
      - $ref: '#/components/parameters/AntIndexEnum_ANTDEINDEX'
      - $ref: '#/components/parameters/AntIndexEnum_ANTDXINDEX'
      - name: ANTDEAZ
        in: query
        required: false
        schema:
          type: number
          minimum: 0.0
          maximum: 359.9
        description: 'Units: degrees'
      - name: ANTDXAZ
        in: query
        required: false
        schema:
          type: number
          minimum: 0.0
          maximum: 359.9
        description: 'Units: degrees'
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                type: string
  /ham/HamClock/fetchVOACAP-TOA.pl:
    get:
      tags:
      - Propagation
      summary: fetchVOACAP-TOA.pl
      description: Standard HamClock API endpoint.
      parameters:
      - $ref: '#/components/parameters/MapHeightEnum_HEIGHT'
      - name: MHZ
        in: query
        required: false
        schema:
          type: number
      - $ref: '#/components/parameters/ModeEnum_MODE'
      - name: MONTH
        in: query
        required: false
        schema:
          type: number
      - $ref: '#/components/parameters/PathEnum_PATH'
      - name: TOA
        in: query
        required: false
        schema:
          type: number
          minimum: 0.1
          maximum: 30.0
        description: 'Units: degrees'
      - name: TXLAT
        in: query
        required: false
        schema:
          type: number
      - name: TXLNG
        in: query
        required: false
        schema:
          type: number
      - name: UTC
        in: query
        required: false
        schema:
          type: number
      - name: WATTS
        in: query
        required: false
        schema:
          type: number
      - $ref: '#/components/parameters/MapWidthEnum_WIDTH'
      - name: YEAR
        in: query
        required: false
        schema:
          type: number
      - $ref: '#/components/parameters/AntControlEnum_ANTDEDXCONTROL'
      - $ref: '#/components/parameters/AntIndexEnum_ANTDEINDEX'
      - $ref: '#/components/parameters/AntIndexEnum_ANTDXINDEX'
      - name: ANTDEAZ
        in: query
        required: false
        schema:
          type: number
          minimum: 0.0
          maximum: 359.9
        description: 'Units: degrees'
      - name: ANTDXAZ
        in: query
        required: false
        schema:
          type: number
          minimum: 0.0
          maximum: 359.9
        description: 'Units: degrees'
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                type: string
  /ham/HamClock/fetchVOACAPArea.pl:
    get:
      tags:
      - Propagation
      summary: fetchVOACAPArea.pl
      description: Standard HamClock API endpoint.
      parameters:
      - $ref: '#/components/parameters/MapHeightEnum_HEIGHT'
      - name: MHZ
        in: query
        required: false
        schema:
          type: number
      - $ref: '#/components/parameters/ModeEnum_MODE'
      - name: MONTH
        in: query
        required: false
        schema:
          type: number
      - $ref: '#/components/parameters/PathEnum_PATH'
      - name: TOA
        in: query
        required: false
        schema:
          type: number
          minimum: 0.1
          maximum: 30.0
        description: 'Units: degrees'
      - name: TXLAT
        in: query
        required: false
        schema:
          type: number
      - name: TXLNG
        in: query
        required: false
        schema:
          type: number
      - name: UTC
        in: query
        required: false
        schema:
          type: number
      - name: WATTS
        in: query
        required: false
        schema:
          type: number
      - $ref: '#/components/parameters/MapWidthEnum_WIDTH'
      - name: YEAR
        in: query
        required: false
        schema:
          type: number
      - $ref: '#/components/parameters/AntControlEnum_ANTDEDXCONTROL'
      - $ref: '#/components/parameters/AntIndexEnum_ANTDEINDEX'
      - $ref: '#/components/parameters/AntIndexEnum_ANTDXINDEX'
      - name: ANTDEAZ
        in: query
        required: false
        schema:
          type: number
          minimum: 0.0
          maximum: 359.9
        description: 'Units: degrees'
      - name: ANTDXAZ
        in: query
        required: false
        schema:
          type: number
          minimum: 0.0
          maximum: 359.9
        description: 'Units: degrees'
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                type: string
  /ham/HamClock/fetchWSPR.pl:
    get:
      tags:
      - Reporters
      summary: fetchWSPR.pl
      description: Standard HamClock API endpoint.
      parameters:
      - name: bycall
        in: query
        required: false
        schema:
          type: string
      - name: bygrid
        in: query
        required: false
        schema:
          type: string
      - name: maxage
        in: query
        required: false
        schema:
          type: number
      - name: ofcall
        in: query
        required: false
        schema:
          type: string
      - name: ofgrid
        in: query
        required: false
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                type: string
  /ham/HamClock/geomag/kindex.txt:
    get:
      tags:
      - Geomagnetic
      summary: kindex.txt
      description: Standard HamClock API endpoint.
      parameters: []
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                type: string
  /ham/HamClock/maps/map-D-1320x660-Aurora.bmp.z:
    get:
      tags:
      - Maps
      summary: map-D-1320x660-Aurora.bmp.z
      description: Standard HamClock API endpoint.
      parameters: []
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                type: string
  /ham/HamClock/maps/map-D-1320x660-Clouds.bmp.z:
    get:
      tags:
      - Maps
      summary: map-D-1320x660-Clouds.bmp.z
      description: Standard HamClock API endpoint.
      parameters: []
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                type: string
  /ham/HamClock/maps/map-D-1320x660-Countries.bmp.z:
    get:
      tags:
      - Maps
      summary: map-D-1320x660-Countries.bmp.z
      description: Standard HamClock API endpoint.
      parameters: []
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                type: string
  /ham/HamClock/maps/map-D-1320x660-DRAP-S.bmp.z:
    get:
      tags:
      - Maps
      summary: map-D-1320x660-DRAP-S.bmp.z
      description: Standard HamClock API endpoint.
      parameters: []
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                type: string
  /ham/HamClock/maps/map-D-1320x660-MUF-RT.bmp.z:
    get:
      tags:
      - Maps
      summary: map-D-1320x660-MUF-RT.bmp.z
      description: Standard HamClock API endpoint.
      parameters: []
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                type: string
  /ham/HamClock/maps/map-D-1320x660-Terrain.bmp.z:
    get:
      tags:
      - Maps
      summary: map-D-1320x660-Terrain.bmp.z
      description: Standard HamClock API endpoint.
      parameters: []
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                type: string
  /ham/HamClock/maps/map-D-1320x660-Wx-in.bmp.z:
    get:
      tags:
      - Maps
      summary: map-D-1320x660-Wx-in.bmp.z
      description: Standard HamClock API endpoint.
      parameters: []
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                type: string
  /ham/HamClock/maps/map-D-1320x660-Wx-mB.bmp.z:
    get:
      tags:
      - Maps
      summary: map-D-1320x660-Wx-mB.bmp.z
      description: Standard HamClock API endpoint.
      parameters: []
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                type: string
  /ham/HamClock/maps/map-D-1980x990-Aurora.bmp.z:
    get:
      tags:
      - Maps
      summary: map-D-1980x990-Aurora.bmp.z
      description: Standard HamClock API endpoint.
      parameters: []
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                type: string
  /ham/HamClock/maps/map-D-1980x990-Clouds.bmp.z:
    get:
      tags:
      - Maps
      summary: map-D-1980x990-Clouds.bmp.z
      description: Standard HamClock API endpoint.
      parameters: []
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                type: string
  /ham/HamClock/maps/map-D-1980x990-Countries.bmp.z:
    get:
      tags:
      - Maps
      summary: map-D-1980x990-Countries.bmp.z
      description: Standard HamClock API endpoint.
      parameters: []
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                type: string
  /ham/HamClock/maps/map-D-1980x990-DRAP-S.bmp.z:
    get:
      tags:
      - Maps
      summary: map-D-1980x990-DRAP-S.bmp.z
      description: Standard HamClock API endpoint.
      parameters: []
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                type: string
  /ham/HamClock/maps/map-D-1980x990-MUF-RT.bmp.z:
    get:
      tags:
      - Maps
      summary: map-D-1980x990-MUF-RT.bmp.z
      description: Standard HamClock API endpoint.
      parameters: []
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                type: string
  /ham/HamClock/maps/map-D-1980x990-Terrain.bmp.z:
    get:
      tags:
      - Maps
      summary: map-D-1980x990-Terrain.bmp.z
      description: Standard HamClock API endpoint.
      parameters: []
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                type: string
  /ham/HamClock/maps/map-D-1980x990-Wx-in.bmp.z:
    get:
      tags:
      - Maps
      summary: map-D-1980x990-Wx-in.bmp.z
      description: Standard HamClock API endpoint.
      parameters: []
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                type: string
  /ham/HamClock/maps/map-D-1980x990-Wx-mB.bmp.z:
    get:
      tags:
      - Maps
      summary: map-D-1980x990-Wx-mB.bmp.z
      description: Standard HamClock API endpoint.
      parameters: []
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                type: string
  /ham/HamClock/maps/map-D-2640x1320-Aurora.bmp.z:
    get:
      tags:
      - Maps
      summary: map-D-2640x1320-Aurora.bmp.z
      description: Standard HamClock API endpoint.
      parameters: []
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                type: string
  /ham/HamClock/maps/map-D-2640x1320-Clouds.bmp.z:
    get:
      tags:
      - Maps
      summary: map-D-2640x1320-Clouds.bmp.z
      description: Standard HamClock API endpoint.
      parameters: []
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                type: string
  /ham/HamClock/maps/map-D-2640x1320-Countries.bmp.z:
    get:
      tags:
      - Maps
      summary: map-D-2640x1320-Countries.bmp.z
      description: Standard HamClock API endpoint.
      parameters: []
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                type: string
  /ham/HamClock/maps/map-D-2640x1320-DRAP-S.bmp.z:
    get:
      tags:
      - Maps
      summary: map-D-2640x1320-DRAP-S.bmp.z
      description: Standard HamClock API endpoint.
      parameters: []
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                type: string
  /ham/HamClock/maps/map-D-2640x1320-MUF-RT.bmp.z:
    get:
      tags:
      - Maps
      summary: map-D-2640x1320-MUF-RT.bmp.z
      description: Standard HamClock API endpoint.
      parameters: []
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                type: string
  /ham/HamClock/maps/map-D-2640x1320-Terrain.bmp.z:
    get:
      tags:
      - Maps
      summary: map-D-2640x1320-Terrain.bmp.z
      description: Standard HamClock API endpoint.
      parameters: []
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                type: string
  /ham/HamClock/maps/map-D-3960x1980-Clouds.bmp.z:
    get:
      tags:
      - Maps
      summary: map-D-3960x1980-Clouds.bmp.z
      description: Standard HamClock API endpoint.
      parameters: []
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                type: string
  /ham/HamClock/maps/map-D-3960x1980-Terrain.bmp.z:
    get:
      tags:
      - Maps
      summary: map-D-3960x1980-Terrain.bmp.z
      description: Standard HamClock API endpoint.
      parameters: []
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                type: string
  /ham/HamClock/maps/map-D-3960x1980-Wx-in.bmp.z:
    get:
      tags:
      - Maps
      summary: map-D-3960x1980-Wx-in.bmp.z
      description: Standard HamClock API endpoint.
      parameters: []
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                type: string
  /ham/HamClock/maps/map-D-5940x2970-Aurora.bmp.z:
    get:
      tags:
      - Maps
      summary: map-D-5940x2970-Aurora.bmp.z
      description: Standard HamClock API endpoint.
      parameters: []
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                type: string
  /ham/HamClock/maps/map-D-5940x2970-Countries.bmp.z:
    get:
      tags:
      - Maps
      summary: map-D-5940x2970-Countries.bmp.z
      description: Standard HamClock API endpoint.
      parameters: []
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                type: string
  /ham/HamClock/maps/map-D-5940x2970-MUF-RT.bmp.z:
    get:
      tags:
      - Maps
      summary: map-D-5940x2970-MUF-RT.bmp.z
      description: Standard HamClock API endpoint.
      parameters: []
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                type: string
  /ham/HamClock/maps/map-D-5940x2970-Wx-mB.bmp.z:
    get:
      tags:
      - Maps
      summary: map-D-5940x2970-Wx-mB.bmp.z
      description: Standard HamClock API endpoint.
      parameters: []
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                type: string
  /ham/HamClock/maps/map-D-660x330-Aurora.bmp.z:
    get:
      tags:
      - Maps
      summary: map-D-660x330-Aurora.bmp.z
      description: Standard HamClock API endpoint.
      parameters: []
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                type: string
  /ham/HamClock/maps/map-D-660x330-Clouds.bmp.z:
    get:
      tags:
      - Maps
      summary: map-D-660x330-Clouds.bmp.z
      description: Standard HamClock API endpoint.
      parameters: []
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                type: string
  /ham/HamClock/maps/map-D-660x330-Countries.bmp.z:
    get:
      tags:
      - Maps
      summary: map-D-660x330-Countries.bmp.z
      description: Standard HamClock API endpoint.
      parameters: []
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                type: string
  /ham/HamClock/maps/map-D-660x330-DRAP-S.bmp.z:
    get:
      tags:
      - Maps
      summary: map-D-660x330-DRAP-S.bmp.z
      description: Standard HamClock API endpoint.
      parameters: []
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                type: string
  /ham/HamClock/maps/map-D-660x330-MUF-RT.bmp.z:
    get:
      tags:
      - Maps
      summary: map-D-660x330-MUF-RT.bmp.z
      description: Standard HamClock API endpoint.
      parameters: []
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                type: string
  /ham/HamClock/maps/map-D-660x330-Wx-in.bmp.z:
    get:
      tags:
      - Maps
      summary: map-D-660x330-Wx-in.bmp.z
      description: Standard HamClock API endpoint.
      parameters: []
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                type: string
  /ham/HamClock/maps/map-D-660x330-Wx-mB.bmp.z:
    get:
      tags:
      - Maps
      summary: map-D-660x330-Wx-mB.bmp.z
      description: Standard HamClock API endpoint.
      parameters: []
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                type: string
  /ham/HamClock/maps/map-N-1320x660-Aurora.bmp.z:
    get:
      tags:
      - Maps
      summary: map-N-1320x660-Aurora.bmp.z
      description: Standard HamClock API endpoint.
      parameters: []
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                type: string
  /ham/HamClock/maps/map-N-1320x660-Clouds.bmp.z:
    get:
      tags:
      - Maps
      summary: map-N-1320x660-Clouds.bmp.z
      description: Standard HamClock API endpoint.
      parameters: []
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                type: string
  /ham/HamClock/maps/map-N-1320x660-Countries.bmp.z:
    get:
      tags:
      - Maps
      summary: map-N-1320x660-Countries.bmp.z
      description: Standard HamClock API endpoint.
      parameters: []
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                type: string
  /ham/HamClock/maps/map-N-1320x660-DRAP-S.bmp.z:
    get:
      tags:
      - Maps
      summary: map-N-1320x660-DRAP-S.bmp.z
      description: Standard HamClock API endpoint.
      parameters: []
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                type: string
  /ham/HamClock/maps/map-N-1320x660-MUF-RT.bmp.z:
    get:
      tags:
      - Maps
      summary: map-N-1320x660-MUF-RT.bmp.z
      description: Standard HamClock API endpoint.
      parameters: []
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                type: string
  /ham/HamClock/maps/map-N-1320x660-Terrain.bmp.z:
    get:
      tags:
      - Maps
      summary: map-N-1320x660-Terrain.bmp.z
      description: Standard HamClock API endpoint.
      parameters: []
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                type: string
  /ham/HamClock/maps/map-N-1320x660-Wx-in.bmp.z:
    get:
      tags:
      - Maps
      summary: map-N-1320x660-Wx-in.bmp.z
      description: Standard HamClock API endpoint.
      parameters: []
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                type: string
  /ham/HamClock/maps/map-N-1320x660-Wx-mB.bmp.z:
    get:
      tags:
      - Maps
      summary: map-N-1320x660-Wx-mB.bmp.z
      description: Standard HamClock API endpoint.
      parameters: []
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                type: string
  /ham/HamClock/maps/map-N-1980x990-Aurora.bmp.z:
    get:
      tags:
      - Maps
      summary: map-N-1980x990-Aurora.bmp.z
      description: Standard HamClock API endpoint.
      parameters: []
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                type: string
  /ham/HamClock/maps/map-N-1980x990-Clouds.bmp.z:
    get:
      tags:
      - Maps
      summary: map-N-1980x990-Clouds.bmp.z
      description: Standard HamClock API endpoint.
      parameters: []
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                type: string
  /ham/HamClock/maps/map-N-1980x990-Countries.bmp.z:
    get:
      tags:
      - Maps
      summary: map-N-1980x990-Countries.bmp.z
      description: Standard HamClock API endpoint.
      parameters: []
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                type: string
  /ham/HamClock/maps/map-N-1980x990-DRAP-S.bmp.z:
    get:
      tags:
      - Maps
      summary: map-N-1980x990-DRAP-S.bmp.z
      description: Standard HamClock API endpoint.
      parameters: []
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                type: string
  /ham/HamClock/maps/map-N-1980x990-MUF-RT.bmp.z:
    get:
      tags:
      - Maps
      summary: map-N-1980x990-MUF-RT.bmp.z
      description: Standard HamClock API endpoint.
      parameters: []
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                type: string
  /ham/HamClock/maps/map-N-1980x990-Terrain.bmp.z:
    get:
      tags:
      - Maps
      summary: map-N-1980x990-Terrain.bmp.z
      description: Standard HamClock API endpoint.
      parameters: []
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                type: string
  /ham/HamClock/maps/map-N-1980x990-Wx-in.bmp.z:
    get:
      tags:
      - Maps
      summary: map-N-1980x990-Wx-in.bmp.z
      description: Standard HamClock API endpoint.
      parameters: []
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                type: string
  /ham/HamClock/maps/map-N-1980x990-Wx-mB.bmp.z:
    get:
      tags:
      - Maps
      summary: map-N-1980x990-Wx-mB.bmp.z
      description: Standard HamClock API endpoint.
      parameters: []
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                type: string
  /ham/HamClock/maps/map-N-2640x1320-Aurora.bmp.z:
    get:
      tags:
      - Maps
      summary: map-N-2640x1320-Aurora.bmp.z
      description: Standard HamClock API endpoint.
      parameters: []
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                type: string
  /ham/HamClock/maps/map-N-2640x1320-Clouds.bmp.z:
    get:
      tags:
      - Maps
      summary: map-N-2640x1320-Clouds.bmp.z
      description: Standard HamClock API endpoint.
      parameters: []
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                type: string
  /ham/HamClock/maps/map-N-2640x1320-Countries.bmp.z:
    get:
      tags:
      - Maps
      summary: map-N-2640x1320-Countries.bmp.z
      description: Standard HamClock API endpoint.
      parameters: []
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                type: string
  /ham/HamClock/maps/map-N-2640x1320-DRAP-S.bmp.z:
    get:
      tags:
      - Maps
      summary: map-N-2640x1320-DRAP-S.bmp.z
      description: Standard HamClock API endpoint.
      parameters: []
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                type: string
  /ham/HamClock/maps/map-N-2640x1320-MUF-RT.bmp.z:
    get:
      tags:
      - Maps
      summary: map-N-2640x1320-MUF-RT.bmp.z
      description: Standard HamClock API endpoint.
      parameters: []
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                type: string
  /ham/HamClock/maps/map-N-2640x1320-Terrain.bmp.z:
    get:
      tags:
      - Maps
      summary: map-N-2640x1320-Terrain.bmp.z
      description: Standard HamClock API endpoint.
      parameters: []
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                type: string
  /ham/HamClock/maps/map-N-3960x1980-Clouds.bmp.z:
    get:
      tags:
      - Maps
      summary: map-N-3960x1980-Clouds.bmp.z
      description: Standard HamClock API endpoint.
      parameters: []
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                type: string
  /ham/HamClock/maps/map-N-3960x1980-Terrain.bmp.z:
    get:
      tags:
      - Maps
      summary: map-N-3960x1980-Terrain.bmp.z
      description: Standard HamClock API endpoint.
      parameters: []
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                type: string
  /ham/HamClock/maps/map-N-3960x1980-Wx-in.bmp.z:
    get:
      tags:
      - Maps
      summary: map-N-3960x1980-Wx-in.bmp.z
      description: Standard HamClock API endpoint.
      parameters: []
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                type: string
  /ham/HamClock/maps/map-N-5940x2970-Aurora.bmp.z:
    get:
      tags:
      - Maps
      summary: map-N-5940x2970-Aurora.bmp.z
      description: Standard HamClock API endpoint.
      parameters: []
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                type: string
  /ham/HamClock/maps/map-N-5940x2970-Countries.bmp.z:
    get:
      tags:
      - Maps
      summary: map-N-5940x2970-Countries.bmp.z
      description: Standard HamClock API endpoint.
      parameters: []
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                type: string
  /ham/HamClock/maps/map-N-5940x2970-MUF-RT.bmp.z:
    get:
      tags:
      - Maps
      summary: map-N-5940x2970-MUF-RT.bmp.z
      description: Standard HamClock API endpoint.
      parameters: []
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                type: string
  /ham/HamClock/maps/map-N-5940x2970-Wx-mB.bmp.z:
    get:
      tags:
      - Maps
      summary: map-N-5940x2970-Wx-mB.bmp.z
      description: Standard HamClock API endpoint.
      parameters: []
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                type: string
  /ham/HamClock/maps/map-N-660x330-Aurora.bmp.z:
    get:
      tags:
      - Maps
      summary: map-N-660x330-Aurora.bmp.z
      description: Standard HamClock API endpoint.
      parameters: []
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                type: string
  /ham/HamClock/maps/map-N-660x330-Clouds.bmp.z:
    get:
      tags:
      - Maps
      summary: map-N-660x330-Clouds.bmp.z
      description: Standard HamClock API endpoint.
      parameters: []
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                type: string
  /ham/HamClock/maps/map-N-660x330-Countries.bmp.z:
    get:
      tags:
      - Maps
      summary: map-N-660x330-Countries.bmp.z
      description: Standard HamClock API endpoint.
      parameters: []
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                type: string
  /ham/HamClock/maps/map-N-660x330-DRAP-S.bmp.z:
    get:
      tags:
      - Maps
      summary: map-N-660x330-DRAP-S.bmp.z
      description: Standard HamClock API endpoint.
      parameters: []
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                type: string
  /ham/HamClock/maps/map-N-660x330-MUF-RT.bmp.z:
    get:
      tags:
      - Maps
      summary: map-N-660x330-MUF-RT.bmp.z
      description: Standard HamClock API endpoint.
      parameters: []
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                type: string
  /ham/HamClock/maps/map-N-660x330-Wx-in.bmp.z:
    get:
      tags:
      - Maps
      summary: map-N-660x330-Wx-in.bmp.z
      description: Standard HamClock API endpoint.
      parameters: []
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                type: string
  /ham/HamClock/maps/map-N-660x330-Wx-mB.bmp.z:
    get:
      tags:
      - Maps
      summary: map-N-660x330-Wx-mB.bmp.z
      description: Standard HamClock API endpoint.
      parameters: []
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                type: string
  /ham/HamClock/solar-flux/solarflux-99.txt:
    get:
      tags:
      - Solar Weather
      summary: solarflux-99.txt
      description: Standard HamClock API endpoint.
      parameters: []
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                type: string
  /ham/HamClock/solar-flux/solarflux-history.txt:
    get:
      tags:
      - Solar Weather
      summary: solarflux-history.txt
      description: Standard HamClock API endpoint.
      parameters: []
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                type: string
  /ham/HamClock/solar-wind/swind-24hr.txt:
    get:
      tags:
      - Solar Weather
      summary: swind-24hr.txt
      description: Standard HamClock API endpoint.
      parameters: []
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                type: string
  /ham/HamClock/ssn/ssn-31.txt:
    get:
      tags:
      - Solar Weather
      summary: ssn-31.txt
      description: Standard HamClock API endpoint.
      parameters: []
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                type: string
  /ham/HamClock/ssn/ssn-history.txt:
    get:
      tags:
      - Solar Weather
      summary: ssn-history.txt
      description: Standard HamClock API endpoint.
      parameters: []
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                type: string
  /ham/HamClock/version.pl:
    get:
      tags:
      - Miscellaneous
      summary: version.pl
      description: Standard HamClock API endpoint.
      parameters: []
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                type: string
  /ham/HamClock/worldwx/wx.txt:
    get:
      tags:
      - Weather
      summary: wx.txt
      description: Standard HamClock API endpoint.
      parameters: []
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                type: string
  /ham/HamClock/wx.pl:
    get:
      tags:
      - Weather
      summary: wx.pl
      description: Standard HamClock API endpoint.
      parameters:
      - name: is_de
        in: query
        required: false
        schema:
          type: number
      - name: lat
        in: query
        required: false
        schema:
          type: number
      - name: lng
        in: query
        required: false
        schema:
          type: number
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                type: string
  /ham/HamClock/xray/xray.txt:
    get:
      tags:
      - Solar Weather
      summary: xray.txt
      description: Standard HamClock API endpoint.
      parameters: []
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                type: string
  /ham/HamClock/lightning/strikes.pl:
    get:
      tags:
      - Miscellaneous
      summary: strikes.pl
      description: 'Proposal implementation: 003.'
      parameters:
      - name: lat
        in: query
        required: false
        schema:
          type: number
          minimum: -90
          maximum: 90
        description: 'Units: DD.ddddd'
      - name: lon
        in: query
        required: false
        schema:
          type: number
          minimum: -180
          maximum: 180
        description: 'Units: DD.dddd'
      - name: radius
        in: query
        required: false
        schema:
          type: number
          minimum: 0
          maximum: 41000
        description: 'Units: km'
      - name: maxage
        in: query
        required: false
        schema:
          type: number
          default: 600
          minimum: 0
        description: 'Units: s'
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                type: string
components:
  parameters:
    ModeEnum_MODE:
      name: MODE
      in: query
      description: 'Propagation mode: 3=WSPR 13=FT8 17=FT4 19=CW 22=RTTY 38=SSB 49=AM'
      required: true
      schema:
        type: number
        enum:
        - 3
        - 13
        - 17
        - 19
        - 22
        - 38
        - 49
    PathEnum_PATH:
      name: PATH
      in: query
      description: 'Path: 0=short 1=long'
      required: true
      schema:
        type: number
        enum:
        - 0
        - 1
    AntControlEnum_ANTDEDXCONTROL:
      name: ANTDEDXCONTROL
      in: query
      description: 0-none 1=DE 2=DX 3=both
      required: false
      schema:
        type: number
        enum:
        - 0
        - 1
        - 2
        - 3
    AntIndexEnum_ANTDEINDEX:
      name: ANTDEINDEX
      in: query
      description: Antenna Index
      required: false
      schema:
        type: number
        enum:
        - 0
        - 256
        - 257
        - 258
        - 259
        - 260
        - 261
        - 262
        - 263
        - 264
        - 265
        - 266
        - 267
        - 268
        - 269
        - 270
        - 271
        - 272
        - 273
        - 274
        - 275
        - 276
        - 277
        - 278
        - 279
        - 280
        - 281
        - 282
        - 529
        - 768
        - 1024
        - 1025
        - 1026
        - 1027
        - 1028
        - 1029
        - 1030
        - 1031
        - 1032
        - 1033
        - 1034
        - 1035
        - 1036
        - 1037
        - 1038
        - 1039
        - 1045
        - 1046
        - 1047
        - 1048
        - 1049
        - 1050
        - 1051
        - 1052
        - 1053
        - 1054
        - 1055
        - 1056
        - 1058
        - 1059
        - 1060
        - 61
        - 1062
        - 1063
        - 1065
        - 1067
        - 1068
        - 1069
        - 1070
        - 1071
        - 1072
        - 1114
        - 1123
        - 1294
    AntIndexEnum_ANTDXINDEX:
      name: ANTDXINDEX
      in: query
      description: Antenna Index
      required: false
      schema:
        type: number
        enum:
        - 0
        - 256
        - 257
        - 258
        - 259
        - 260
        - 261
        - 262
        - 263
        - 264
        - 265
        - 266
        - 267
        - 268
        - 269
        - 270
        - 271
        - 272
        - 273
        - 274
        - 275
        - 276
        - 277
        - 278
        - 279
        - 280
        - 281
        - 282
        - 529
        - 768
        - 1024
        - 1025
        - 1026
        - 1027
        - 1028
        - 1029
        - 1030
        - 1031
        - 1032
        - 1033
        - 1034
        - 1035
        - 1036
        - 1037
        - 1038
        - 1039
        - 1045
        - 1046
        - 1047
        - 1048
        - 1049
        - 1050
        - 1051
        - 1052
        - 1053
        - 1054
        - 1055
        - 1056
        - 1058
        - 1059
        - 1060
        - 61
        - 1062
        - 1063
        - 1065
        - 1067
        - 1068
        - 1069
        - 1070
        - 1071
        - 1072
        - 1114
        - 1123
        - 1294
    MapHeightEnum_HEIGHT:
      name: HEIGHT
      in: query
      description: HamClock map pixel height
      required: true
      schema:
        type: number
        enum:
        - 330
        - 660
        - 990
        - 1320
        - 1980
        - 2640
        - 2870
        - 3960
    MapWidthEnum_WIDTH:
      name: WIDTH
      in: query
      description: HamClock map pixel width
      required: true
      schema:
        type: number
        enum:
        - 660
        - 1320
        - 1980
        - 2640
        - 3960
        - 5280
        - 5940
        - 7920
