openapi: "3.1.0"
info:
  title: HamClock API
  description: |
    API endpoints for HamClock — a real-time amateur radio clock and propagation display application.
    Provides access to solar weather data, band conditions, map overlays, PSK/WSPR reporter data,
    SDO solar imagery, geomagnetic indices, and more.
  version: "1.0.0"
  contact:
    name: HamClock
    url: https://www.clearskyinstitute.com/ham/HamClock/

servers:
  - url: http://clearskyinstitute.com
    description: Clear Sky Institute (primary)
  - url: http://ohb.hamclock.app
    description: OHB HamClock instance
  - url: http://hamclock.com
    description: HamClock.com

tags:
  - name: Solar Weather
    description: Solar flux, X-ray, Bz, solar wind, and space weather data
  - name: Geomagnetic
    description: Geomagnetic indices including K-index and DST
  - name: Propagation
    description: HF band condition and MUF prediction scripts
  - name: Reporters
    description: PSK Reporter, RBN, and WSPR spot data
  - name: Maps
    description: Day and night map overlays at various resolutions
  - name: SDO Images
    description: Solar Dynamics Observatory solar imagery
  - name: Satellites
    description: Satellite tracking data
  - name: Weather
    description: World weather and local weather data
  - name: Miscellaneous
    description: Contests, DXpeditions, city data, version info, and more

paths:

  # ─── Solar Weather ────────────────────────────────────────────────────────

  /ham/HamClock/Bz/Bz.txt:
    get:
      tags: [Solar Weather]
      summary: Interplanetary magnetic field Bz data
      responses:
        "200":
          description: Plain text Bz measurements
          content:
            text/plain:
              schema:
                type: string

  /ham/HamClock/NOAASpaceWX/noaaswx.txt:
    get:
      tags: [Solar Weather]
      summary: NOAA space weather current conditions
      responses:
        "200":
          description: Plain text NOAA space weather data
          content:
            text/plain:
              schema:
                type: string

  /ham/HamClock/NOAASpaceWX/rank2_coeffs.txt:
    get:
      tags: [Solar Weather]
      summary: NOAA space weather rank-2 coefficients
      responses:
        "200":
          description: Plain text coefficient data
          content:
            text/plain:
              schema:
                type: string

  /ham/HamClock/xray/xray.txt:
    get:
      tags: [Solar Weather]
      summary: Solar X-ray flux data
      responses:
        "200":
          description: Plain text X-ray flux measurements
          content:
            text/plain:
              schema:
                type: string

  /ham/HamClock/solar-flux/solarflux-99.txt:
    get:
      tags: [Solar Weather]
      summary: Current solar flux (F10.7) index
      responses:
        "200":
          description: Plain text solar flux data
          content:
            text/plain:
              schema:
                type: string

  /ham/HamClock/solar-flux/solarflux-history.txt:
    get:
      tags: [Solar Weather]
      summary: Historical solar flux (F10.7) data
      responses:
        "200":
          description: Plain text historical solar flux records
          content:
            text/plain:
              schema:
                type: string

  /ham/HamClock/solar-wind/swind-24hr.txt:
    get:
      tags: [Solar Weather]
      summary: 24-hour solar wind data
      responses:
        "200":
          description: Plain text solar wind measurements
          content:
            text/plain:
              schema:
                type: string

  # ─── Geomagnetic ──────────────────────────────────────────────────────────

  /ham/HamClock/geomag/kindex.txt:
    get:
      tags: [Geomagnetic]
      summary: Geomagnetic K-index data
      responses:
        "200":
          description: Plain text K-index values
          content:
            text/plain:
              schema:
                type: string

  /ham/HamClock/dst/dst.txt:
    get:
      tags: [Geomagnetic]
      summary: Disturbance Storm Time (DST) index
      responses:
        "200":
          description: Plain text DST index data
          content:
            text/plain:
              schema:
                type: string

  /ham/HamClock/drap/stats.txt:
    get:
      tags: [Geomagnetic]
      summary: D-Region Absorption Prediction (DRAP) statistics
      responses:
        "200":
          description: Plain text DRAP stats
          content:
            text/plain:
              schema:
                type: string

  /ham/HamClock/aurora/aurora.txt:
    get:
      tags: [Geomagnetic]
      summary: Aurora activity data
      responses:
        "200":
          description: Plain text aurora data
          content:
            text/plain:
              schema:
                type: string

  # ─── Sunspot Numbers ──────────────────────────────────────────────────────

  /ham/HamClock/ssn/ssn-31.txt:
    get:
      tags: [Solar Weather]
      summary: Sunspot number (31-day smoothed)
      responses:
        "200":
          description: Plain text sunspot number data
          content:
            text/plain:
              schema:
                type: string

  /ham/HamClock/ssn/ssn-history.txt:
    get:
      tags: [Solar Weather]
      summary: Historical sunspot number records
      responses:
        "200":
          description: Plain text historical sunspot data
          content:
            text/plain:
              schema:
                type: string

  # ─── Propagation Scripts ──────────────────────────────────────────────────

  /ham/HamClock/fetchBandConditions.pl:
    get:
      tags: [Propagation]
      summary: Fetch HF band conditions (point-to-point)
      description: |
        Returns VOACAP-based HF band condition predictions for a given
        transmitter/receiver path, time, and antenna configuration.
      parameters:
        - name: MODE
          in: query
          description: "Propagation mode code (e.g. 3=CW, 13=SSB, 17=RTTY, 19=FT8, 38=FT4)"
          schema:
            type: integer
            enum: [3, 13, 17, 19, 38]
        - name: MONTH
          in: query
          description: Month number (0=current)
          schema:
            type: integer
            minimum: 0
            maximum: 12
        - name: YEAR
          in: query
          description: Year (e.g. 2026)
          schema:
            type: integer
            example: 2026
        - name: UTC
          in: query
          description: UTC hour (0–23)
          schema:
            type: integer
            minimum: 0
            maximum: 23
        - name: TXLAT
          in: query
          description: Transmitter latitude in decimal degrees
          schema:
            type: number
            format: float
            example: 56.417
        - name: TXLNG
          in: query
          description: Transmitter longitude in decimal degrees
          schema:
            type: number
            format: float
            example: -78.333
        - name: RXLAT
          in: query
          description: Receiver latitude in decimal degrees
          schema:
            type: number
            format: float
            example: -53.455
        - name: RXLNG
          in: query
          description: Receiver longitude in decimal degrees
          schema:
            type: number
            format: float
            example: -81.273
        - name: POW
          in: query
          description: Transmit power in watts
          schema:
            type: number
            example: 100
        - name: TOA
          in: query
          description: Take-off angle in degrees
          schema:
            type: number
            format: float
            example: 3.0
        - name: PATH
          in: query
          description: "Path type: 0=short path, 1=long path"
          schema:
            type: integer
            enum: [0, 1]
      responses:
        "200":
          description: Band condition prediction data
          content:
            text/plain:
              schema:
                type: string

  /ham/HamClock/fetchVOACAP-MUF.pl:
    get:
      tags: [Propagation]
      summary: Fetch VOACAP Maximum Usable Frequency (MUF) map data
      description: Returns MUF map data for a given transmitter location and time.
      parameters:
        - name: TXLAT
          in: query
          description: Transmitter latitude in decimal degrees
          schema:
            type: number
            format: float
        - name: TXLNG
          in: query
          description: Transmitter longitude in decimal degrees
          schema:
            type: number
            format: float
        - name: MODE
          in: query
          description: Propagation mode code
          schema:
            type: integer
            enum: [13, 19, 38]
        - name: MONTH
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 12
        - name: YEAR
          in: query
          schema:
            type: integer
        - name: UTC
          in: query
          schema:
            type: integer
            minimum: 0
            maximum: 23
        - name: WATTS
          in: query
          description: Transmit power in watts
          schema:
            type: number
            example: 100
        - name: MHZ
          in: query
          description: Frequency in MHz
          schema:
            type: number
            format: float
            example: 14.1
        - name: HEIGHT
          in: query
          description: Map height in pixels
          schema:
            type: integer
            enum: [330, 660, 990, 1320, 2970]
        - name: WIDTH
          in: query
          description: Map width in pixels
          schema:
            type: integer
            enum: [660, 1320, 1980, 2640, 5940]
        - name: TOA
          in: query
          description: Take-off angle in degrees
          schema:
            type: number
            format: float
        - name: PATH
          in: query
          schema:
            type: integer
            enum: [0, 1]
      responses:
        "200":
          description: MUF map image data
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary

  /ham/HamClock/fetchVOACAP-TOA.pl:
    get:
      tags: [Propagation]
      summary: Fetch VOACAP Take-Off Angle (TOA) map data
      description: Returns TOA map data for a given transmitter location and frequency.
      parameters:
        - name: TXLAT
          in: query
          schema:
            type: number
            format: float
        - name: TXLNG
          in: query
          schema:
            type: number
            format: float
        - name: MODE
          in: query
          schema:
            type: integer
            enum: [13, 19, 38]
        - name: MONTH
          in: query
          schema:
            type: integer
        - name: YEAR
          in: query
          schema:
            type: integer
        - name: UTC
          in: query
          schema:
            type: integer
        - name: WATTS
          in: query
          schema:
            type: number
        - name: MHZ
          in: query
          description: Frequency in MHz
          schema:
            type: number
            format: float
            example: 21.1
        - name: HEIGHT
          in: query
          schema:
            type: integer
            enum: [330, 660, 990, 1320]
        - name: WIDTH
          in: query
          schema:
            type: integer
            enum: [660, 1320, 1980, 2640]
        - name: TOA
          in: query
          schema:
            type: number
            format: float
        - name: PATH
          in: query
          schema:
            type: integer
            enum: [0, 1]
      responses:
        "200":
          description: TOA map image data
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary

  /ham/HamClock/fetchVOACAPArea.pl:
    get:
      tags: [Propagation]
      summary: Fetch VOACAP area coverage map
      description: Returns area coverage prediction map for a given transmitter and configuration.
      parameters:
        - name: TXLAT
          in: query
          schema:
            type: number
            format: float
        - name: TXLNG
          in: query
          schema:
            type: number
            format: float
        - name: MODE
          in: query
          schema:
            type: integer
            enum: [3, 13, 17, 19, 38]
        - name: MONTH
          in: query
          schema:
            type: integer
        - name: YEAR
          in: query
          schema:
            type: integer
        - name: UTC
          in: query
          schema:
            type: integer
        - name: WATTS
          in: query
          schema:
            type: number
        - name: MHZ
          in: query
          schema:
            type: number
            format: float
        - name: HEIGHT
          in: query
          schema:
            type: integer
            enum: [330, 660, 990, 1320, 2640, 3960]
        - name: WIDTH
          in: query
          schema:
            type: integer
            enum: [660, 1320, 1980, 2640, 3960, 7920]
        - name: TOA
          in: query
          schema:
            type: number
            format: float
        - name: PATH
          in: query
          schema:
            type: integer
            enum: [0, 1]
      responses:
        "200":
          description: Area coverage map image data
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary

  # ─── Reporters ────────────────────────────────────────────────────────────

  /ham/HamClock/fetchPSKReporter.pl:
    get:
      tags: [Reporters]
      summary: Fetch PSK Reporter spot data
      description: Returns recent PSK Reporter hearing/spotter data filtered by callsign or grid.
      parameters:
        - name: ofcall
          in: query
          description: Filter spots OF this callsign (being heard)
          schema:
            type: string
            example: W1AW
        - name: bycall
          in: query
          description: Filter spots BY this callsign (doing the hearing)
          schema:
            type: string
            example: W1AW
        - name: ofgrid
          in: query
          description: Filter spots of stations in this Maidenhead grid square
          schema:
            type: string
            example: FN54
        - name: bygrid
          in: query
          description: Filter spots by stations in this Maidenhead grid square
          schema:
            type: string
            example: JN45
        - name: maxage
          in: query
          description: Maximum age of spots in seconds
          schema:
            type: integer
            enum: [900, 1800, 3600, 21600, 86400]
            example: 3600
      responses:
        "200":
          description: PSK Reporter spot data
          content:
            text/plain:
              schema:
                type: string

  /ham/HamClock/fetchRBN.pl:
    get:
      tags: [Reporters]
      summary: Fetch Reverse Beacon Network (RBN) spot data
      description: Returns recent RBN CW/digital spots for a given callsign.
      parameters:
        - name: ofcall
          in: query
          description: Callsign to fetch spots for
          schema:
            type: string
            example: W1AW
        - name: maxage
          in: query
          description: Maximum age of spots in seconds
          schema:
            type: integer
            enum: [1800, 3600, 86400]
            example: 3600
      responses:
        "200":
          description: RBN spot data
          content:
            text/plain:
              schema:
                type: string

  /ham/HamClock/fetchWSPR.pl:
    get:
      tags: [Reporters]
      summary: Fetch WSPR spot data
      description: Returns recent WSPR propagation spots filtered by callsign or grid.
      parameters:
        - name: ofcall
          in: query
          description: Filter spots OF this callsign
          schema:
            type: string
            example: W1AW
        - name: bycall
          in: query
          description: Filter spots BY this callsign
          schema:
            type: string
            example: W1AW
        - name: ofgrid
          in: query
          description: Filter by grid square of spotted station
          schema:
            type: string
            example: EN50
        - name: bygrid
          in: query
          description: Filter by grid square of spotter
          schema:
            type: string
            example: EN62
        - name: maxage
          in: query
          description: Maximum age of spots in seconds
          schema:
            type: integer
            enum: [900, 1800, 3600, 21600, 86400]
      responses:
        "200":
          description: WSPR spot data
          content:
            text/plain:
              schema:
                type: string

  # ─── Weather ──────────────────────────────────────────────────────────────

  /ham/HamClock/wx.pl:
    get:
      tags: [Weather]
      summary: Fetch local weather for a given location
      parameters:
        - name: lat
          in: query
          description: Latitude in decimal degrees
          required: true
          schema:
            type: number
            format: float
            example: 33.417
        - name: lng
          in: query
          description: Longitude in decimal degrees
          required: true
          schema:
            type: number
            format: float
            example: -90.5541
        - name: is_de
          in: query
          description: "1 if this is the operator's home location (DE), 0 otherwise"
          schema:
            type: integer
            enum: [0, 1]
      responses:
        "200":
          description: Local weather data
          content:
            text/plain:
              schema:
                type: string

  /ham/HamClock/worldwx/wx.txt:
    get:
      tags: [Weather]
      summary: World weather summary data
      responses:
        "200":
          description: Plain text world weather data
          content:
            text/plain:
              schema:
                type: string

  # ─── Miscellaneous Data ───────────────────────────────────────────────────

  /ham/HamClock/version.pl:
    get:
      tags: [Miscellaneous]
      summary: Get current HamClock server version
      responses:
        "200":
          description: Version information
          content:
            text/plain:
              schema:
                type: string

  /ham/HamClock/RSS/web15rss.pl:
    get:
      tags: [Miscellaneous]
      summary: Fetch RSS news feed for display
      responses:
        "200":
          description: RSS feed content
          content:
            text/plain:
              schema:
                type: string

  /ham/HamClock/ONTA/onta.txt:
    get:
      tags: [Miscellaneous]
      summary: On The Air (ONTA) activity data
      responses:
        "200":
          description: ONTA data
          content:
            text/plain:
              schema:
                type: string

  /ham/HamClock/contests/contests311.txt:
    get:
      tags: [Miscellaneous]
      summary: Ham radio contest schedule data
      responses:
        "200":
          description: Contest schedule
          content:
            text/plain:
              schema:
                type: string

  /ham/HamClock/dxpeds/dxpeditions.txt:
    get:
      tags: [Miscellaneous]
      summary: DXpedition schedule data
      responses:
        "200":
          description: DXpedition list
          content:
            text/plain:
              schema:
                type: string

  /ham/HamClock/cty/cty_wt_mod-ll-dxcc.txt:
    get:
      tags: [Miscellaneous]
      summary: DXCC country/entity data with lat/lng
      responses:
        "200":
          description: Country entity data
          content:
            text/plain:
              schema:
                type: string

  /ham/HamClock/cities2.txt:
    get:
      tags: [Miscellaneous]
      summary: City database with coordinates
      responses:
        "200":
          description: City list with coordinates
          content:
            text/plain:
              schema:
                type: string

  /ham/HamClock/esats/esats.txt:
    get:
      tags: [Satellites]
      summary: Satellite TLE (Two-Line Element) tracking data
      responses:
        "200":
          description: Satellite TLE data
          content:
            text/plain:
              schema:
                type: string

  # ─── SDO Solar Images ─────────────────────────────────────────────────────

  /ham/HamClock/SDO/f_131_170.bmp.z:
    get:
      tags: [SDO Images]
      summary: "SDO AIA 131Å full disk image, 170px"
      responses:
        "200":
          description: Compressed BMP solar image
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary

  /ham/HamClock/SDO/f_131_340.bmp.z:
    get:
      tags: [SDO Images]
      summary: "SDO AIA 131Å full disk image, 340px"
      responses:
        "200":
          description: Compressed BMP solar image
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary

  /ham/HamClock/SDO/f_131_680.bmp.z:
    get:
      tags: [SDO Images]
      summary: "SDO AIA 131Å full disk image, 680px"
      responses:
        "200":
          description: Compressed BMP solar image
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary

  /ham/HamClock/SDO/f_193_170.bmp.z:
    get:
      tags: [SDO Images]
      summary: "SDO AIA 193Å full disk image, 170px"
      responses:
        "200":
          description: Compressed BMP solar image
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary

  /ham/HamClock/SDO/f_193_340.bmp.z:
    get:
      tags: [SDO Images]
      summary: "SDO AIA 193Å full disk image, 340px"
      responses:
        "200":
          description: Compressed BMP solar image
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary

  /ham/HamClock/SDO/f_193_680.bmp.z:
    get:
      tags: [SDO Images]
      summary: "SDO AIA 193Å full disk image, 680px"
      responses:
        "200":
          description: Compressed BMP solar image
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary

  /ham/HamClock/SDO/f_211_170.bmp.z:
    get:
      tags: [SDO Images]
      summary: "SDO AIA 211Å full disk image, 170px"
      responses:
        "200":
          description: Compressed BMP solar image
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary

  /ham/HamClock/SDO/f_211_340.bmp.z:
    get:
      tags: [SDO Images]
      summary: "SDO AIA 211Å full disk image, 340px"
      responses:
        "200":
          description: Compressed BMP solar image
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary

  /ham/HamClock/SDO/f_211_680.bmp.z:
    get:
      tags: [SDO Images]
      summary: "SDO AIA 211Å full disk image, 680px"
      responses:
        "200":
          description: Compressed BMP solar image
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary

  /ham/HamClock/SDO/f_304_170.bmp.z:
    get:
      tags: [SDO Images]
      summary: "SDO AIA 304Å full disk image, 170px"
      responses:
        "200":
          description: Compressed BMP solar image
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary

  /ham/HamClock/SDO/f_304_340.bmp.z:
    get:
      tags: [SDO Images]
      summary: "SDO AIA 304Å full disk image, 340px"
      responses:
        "200":
          description: Compressed BMP solar image
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary

  /ham/HamClock/SDO/f_304_680.bmp.z:
    get:
      tags: [SDO Images]
      summary: "SDO AIA 304Å full disk image, 680px"
      responses:
        "200":
          description: Compressed BMP solar image
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary

  /ham/HamClock/SDO/f_211_193_171_170.bmp.z:
    get:
      tags: [SDO Images]
      summary: "SDO AIA 211/193/171Å composite image, 170px"
      responses:
        "200":
          description: Compressed BMP solar image
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary

  /ham/HamClock/SDO/f_211_193_171_340.bmp.z:
    get:
      tags: [SDO Images]
      summary: "SDO AIA 211/193/171Å composite image, 340px"
      responses:
        "200":
          description: Compressed BMP solar image
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary

  /ham/HamClock/SDO/f_211_193_171_510.bmp.z:
    get:
      tags: [SDO Images]
      summary: "SDO AIA 211/193/171Å composite image, 510px"
      responses:
        "200":
          description: Compressed BMP solar image
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary

  /ham/HamClock/SDO/f_211_193_171_680.bmp.z:
    get:
      tags: [SDO Images]
      summary: "SDO AIA 211/193/171Å composite image, 680px"
      responses:
        "200":
          description: Compressed BMP solar image
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary

  /ham/HamClock/SDO/latest_170_HMIB.bmp.z:
    get:
      tags: [SDO Images]
      summary: "SDO HMI magnetogram, 170px"
      responses:
        "200":
          description: Compressed BMP solar magnetogram
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary

  /ham/HamClock/SDO/latest_170_HMIIC.bmp.z:
    get:
      tags: [SDO Images]
      summary: "SDO HMI intensitygram (colorized), 170px"
      responses:
        "200":
          description: Compressed BMP solar intensitygram
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary

  /ham/HamClock/SDO/latest_340_HMIB.bmp.z:
    get:
      tags: [SDO Images]
      summary: "SDO HMI magnetogram, 340px"
      responses:
        "200":
          description: Compressed BMP solar magnetogram
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary

  /ham/HamClock/SDO/latest_340_HMIIC.bmp.z:
    get:
      tags: [SDO Images]
      summary: "SDO HMI intensitygram (colorized), 340px"
      responses:
        "200":
          description: Compressed BMP solar intensitygram
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary

  /ham/HamClock/SDO/latest_510_HMIIC.bmp.z:
    get:
      tags: [SDO Images]
      summary: "SDO HMI intensitygram (colorized), 510px"
      responses:
        "200":
          description: Compressed BMP solar intensitygram
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary

  /ham/HamClock/SDO/latest_680_HMIB.bmp.z:
    get:
      tags: [SDO Images]
      summary: "SDO HMI magnetogram, 680px"
      responses:
        "200":
          description: Compressed BMP solar magnetogram
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary

  /ham/HamClock/SDO/latest_680_HMIIC.bmp.z:
    get:
      tags: [SDO Images]
      summary: "SDO HMI intensitygram (colorized), 680px"
      responses:
        "200":
          description: Compressed BMP solar intensitygram
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary

  # ─── Day Maps ─────────────────────────────────────────────────────────────

  /ham/HamClock/maps/map-D-660x330-Aurora.bmp.z:
    get:
      tags: [Maps]
      summary: "Day map 660×330 — Aurora overlay"
      responses:
        "200":
          description: Compressed BMP map
          content:
            application/octet-stream:
              schema: { type: string, format: binary }

  /ham/HamClock/maps/map-D-660x330-Clouds.bmp.z:
    get:
      tags: [Maps]
      summary: "Day map 660×330 — Cloud cover overlay"
      responses:
        "200":
          description: Compressed BMP map
          content:
            application/octet-stream:
              schema: { type: string, format: binary }

  /ham/HamClock/maps/map-D-660x330-Countries.bmp.z:
    get:
      tags: [Maps]
      summary: "Day map 660×330 — Country borders"
      responses:
        "200":
          description: Compressed BMP map
          content:
            application/octet-stream:
              schema: { type: string, format: binary }

  /ham/HamClock/maps/map-D-660x330-DRAP-S.bmp.z:
    get:
      tags: [Maps]
      summary: "Day map 660×330 — DRAP absorption overlay"
      responses:
        "200":
          description: Compressed BMP map
          content:
            application/octet-stream:
              schema: { type: string, format: binary }

  /ham/HamClock/maps/map-D-660x330-MUF-RT.bmp.z:
    get:
      tags: [Maps]
      summary: "Day map 660×330 — Real-time MUF overlay"
      responses:
        "200":
          description: Compressed BMP map
          content:
            application/octet-stream:
              schema: { type: string, format: binary }

  /ham/HamClock/maps/map-D-660x330-Wx-in.bmp.z:
    get:
      tags: [Maps]
      summary: "Day map 660×330 — Weather (imperial units)"
      responses:
        "200":
          description: Compressed BMP map
          content:
            application/octet-stream:
              schema: { type: string, format: binary }

  /ham/HamClock/maps/map-D-660x330-Wx-mB.bmp.z:
    get:
      tags: [Maps]
      summary: "Day map 660×330 — Weather (metric units)"
      responses:
        "200":
          description: Compressed BMP map
          content:
            application/octet-stream:
              schema: { type: string, format: binary }

  /ham/HamClock/maps/map-D-1320x660-Aurora.bmp.z:
    get:
      tags: [Maps]
      summary: "Day map 1320×660 — Aurora overlay"
      responses:
        "200":
          description: Compressed BMP map
          content:
            application/octet-stream:
              schema: { type: string, format: binary }

  /ham/HamClock/maps/map-D-1320x660-Clouds.bmp.z:
    get:
      tags: [Maps]
      summary: "Day map 1320×660 — Cloud cover overlay"
      responses:
        "200":
          description: Compressed BMP map
          content:
            application/octet-stream:
              schema: { type: string, format: binary }

  /ham/HamClock/maps/map-D-1320x660-Countries.bmp.z:
    get:
      tags: [Maps]
      summary: "Day map 1320×660 — Country borders"
      responses:
        "200":
          description: Compressed BMP map
          content:
            application/octet-stream:
              schema: { type: string, format: binary }

  /ham/HamClock/maps/map-D-1320x660-DRAP-S.bmp.z:
    get:
      tags: [Maps]
      summary: "Day map 1320×660 — DRAP absorption overlay"
      responses:
        "200":
          description: Compressed BMP map
          content:
            application/octet-stream:
              schema: { type: string, format: binary }

  /ham/HamClock/maps/map-D-1320x660-MUF-RT.bmp.z:
    get:
      tags: [Maps]
      summary: "Day map 1320×660 — Real-time MUF overlay"
      responses:
        "200":
          description: Compressed BMP map
          content:
            application/octet-stream:
              schema: { type: string, format: binary }

  /ham/HamClock/maps/map-D-1320x660-Terrain.bmp.z:
    get:
      tags: [Maps]
      summary: "Day map 1320×660 — Terrain"
      responses:
        "200":
          description: Compressed BMP map
          content:
            application/octet-stream:
              schema: { type: string, format: binary }

  /ham/HamClock/maps/map-D-1320x660-Wx-in.bmp.z:
    get:
      tags: [Maps]
      summary: "Day map 1320×660 — Weather (imperial units)"
      responses:
        "200":
          description: Compressed BMP map
          content:
            application/octet-stream:
              schema: { type: string, format: binary }

  /ham/HamClock/maps/map-D-1320x660-Wx-mB.bmp.z:
    get:
      tags: [Maps]
      summary: "Day map 1320×660 — Weather (metric units)"
      responses:
        "200":
          description: Compressed BMP map
          content:
            application/octet-stream:
              schema: { type: string, format: binary }

  /ham/HamClock/maps/map-D-1980x990-Aurora.bmp.z:
    get:
      tags: [Maps]
      summary: "Day map 1980×990 — Aurora overlay"
      responses:
        "200":
          description: Compressed BMP map
          content:
            application/octet-stream:
              schema: { type: string, format: binary }

  /ham/HamClock/maps/map-D-1980x990-Clouds.bmp.z:
    get:
      tags: [Maps]
      summary: "Day map 1980×990 — Cloud cover overlay"
      responses:
        "200":
          description: Compressed BMP map
          content:
            application/octet-stream:
              schema: { type: string, format: binary }

  /ham/HamClock/maps/map-D-1980x990-Countries.bmp.z:
    get:
      tags: [Maps]
      summary: "Day map 1980×990 — Country borders"
      responses:
        "200":
          description: Compressed BMP map
          content:
            application/octet-stream:
              schema: { type: string, format: binary }

  /ham/HamClock/maps/map-D-1980x990-DRAP-S.bmp.z:
    get:
      tags: [Maps]
      summary: "Day map 1980×990 — DRAP absorption overlay"
      responses:
        "200":
          description: Compressed BMP map
          content:
            application/octet-stream:
              schema: { type: string, format: binary }

  /ham/HamClock/maps/map-D-1980x990-MUF-RT.bmp.z:
    get:
      tags: [Maps]
      summary: "Day map 1980×990 — Real-time MUF overlay"
      responses:
        "200":
          description: Compressed BMP map
          content:
            application/octet-stream:
              schema: { type: string, format: binary }

  /ham/HamClock/maps/map-D-1980x990-Terrain.bmp.z:
    get:
      tags: [Maps]
      summary: "Day map 1980×990 — Terrain"
      responses:
        "200":
          description: Compressed BMP map
          content:
            application/octet-stream:
              schema: { type: string, format: binary }

  /ham/HamClock/maps/map-D-1980x990-Wx-in.bmp.z:
    get:
      tags: [Maps]
      summary: "Day map 1980×990 — Weather (imperial units)"
      responses:
        "200":
          description: Compressed BMP map
          content:
            application/octet-stream:
              schema: { type: string, format: binary }

  /ham/HamClock/maps/map-D-1980x990-Wx-mB.bmp.z:
    get:
      tags: [Maps]
      summary: "Day map 1980×990 — Weather (metric units)"
      responses:
        "200":
          description: Compressed BMP map
          content:
            application/octet-stream:
              schema: { type: string, format: binary }

  /ham/HamClock/maps/map-D-2640x1320-Aurora.bmp.z:
    get:
      tags: [Maps]
      summary: "Day map 2640×1320 — Aurora overlay"
      responses:
        "200":
          description: Compressed BMP map
          content:
            application/octet-stream:
              schema: { type: string, format: binary }

  /ham/HamClock/maps/map-D-2640x1320-Clouds.bmp.z:
    get:
      tags: [Maps]
      summary: "Day map 2640×1320 — Cloud cover overlay"
      responses:
        "200":
          description: Compressed BMP map
          content:
            application/octet-stream:
              schema: { type: string, format: binary }

  /ham/HamClock/maps/map-D-2640x1320-Countries.bmp.z:
    get:
      tags: [Maps]
      summary: "Day map 2640×1320 — Country borders"
      responses:
        "200":
          description: Compressed BMP map
          content:
            application/octet-stream:
              schema: { type: string, format: binary }

  /ham/HamClock/maps/map-D-2640x1320-DRAP-S.bmp.z:
    get:
      tags: [Maps]
      summary: "Day map 2640×1320 — DRAP absorption overlay"
      responses:
        "200":
          description: Compressed BMP map
          content:
            application/octet-stream:
              schema: { type: string, format: binary }

  /ham/HamClock/maps/map-D-2640x1320-MUF-RT.bmp.z:
    get:
      tags: [Maps]
      summary: "Day map 2640×1320 — Real-time MUF overlay"
      responses:
        "200":
          description: Compressed BMP map
          content:
            application/octet-stream:
              schema: { type: string, format: binary }

  /ham/HamClock/maps/map-D-2640x1320-Terrain.bmp.z:
    get:
      tags: [Maps]
      summary: "Day map 2640×1320 — Terrain"
      responses:
        "200":
          description: Compressed BMP map
          content:
            application/octet-stream:
              schema: { type: string, format: binary }

  /ham/HamClock/maps/map-D-3960x1980-Clouds.bmp.z:
    get:
      tags: [Maps]
      summary: "Day map 3960×1980 — Cloud cover overlay"
      responses:
        "200":
          description: Compressed BMP map
          content:
            application/octet-stream:
              schema: { type: string, format: binary }

  /ham/HamClock/maps/map-D-3960x1980-Terrain.bmp.z:
    get:
      tags: [Maps]
      summary: "Day map 3960×1980 — Terrain"
      responses:
        "200":
          description: Compressed BMP map
          content:
            application/octet-stream:
              schema: { type: string, format: binary }

  /ham/HamClock/maps/map-D-3960x1980-Wx-in.bmp.z:
    get:
      tags: [Maps]
      summary: "Day map 3960×1980 — Weather (imperial units)"
      responses:
        "200":
          description: Compressed BMP map
          content:
            application/octet-stream:
              schema: { type: string, format: binary }

  /ham/HamClock/maps/map-D-5940x2970-Aurora.bmp.z:
    get:
      tags: [Maps]
      summary: "Day map 5940×2970 — Aurora overlay"
      responses:
        "200":
          description: Compressed BMP map
          content:
            application/octet-stream:
              schema: { type: string, format: binary }

  /ham/HamClock/maps/map-D-5940x2970-Countries.bmp.z:
    get:
      tags: [Maps]
      summary: "Day map 5940×2970 — Country borders"
      responses:
        "200":
          description: Compressed BMP map
          content:
            application/octet-stream:
              schema: { type: string, format: binary }

  /ham/HamClock/maps/map-D-5940x2970-MUF-RT.bmp.z:
    get:
      tags: [Maps]
      summary: "Day map 5940×2970 — Real-time MUF overlay"
      responses:
        "200":
          description: Compressed BMP map
          content:
            application/octet-stream:
              schema: { type: string, format: binary }

  /ham/HamClock/maps/map-D-5940x2970-Wx-mB.bmp.z:
    get:
      tags: [Maps]
      summary: "Day map 5940×2970 — Weather (metric units)"
      responses:
        "200":
          description: Compressed BMP map
          content:
            application/octet-stream:
              schema: { type: string, format: binary }

  # ─── Night Maps ───────────────────────────────────────────────────────────

  /ham/HamClock/maps/map-N-660x330-Aurora.bmp.z:
    get:
      tags: [Maps]
      summary: "Night map 660×330 — Aurora overlay"
      responses:
        "200":
          description: Compressed BMP map
          content:
            application/octet-stream:
              schema: { type: string, format: binary }

  /ham/HamClock/maps/map-N-660x330-Clouds.bmp.z:
    get:
      tags: [Maps]
      summary: "Night map 660×330 — Cloud cover overlay"
      responses:
        "200":
          description: Compressed BMP map
          content:
            application/octet-stream:
              schema: { type: string, format: binary }

  /ham/HamClock/maps/map-N-660x330-Countries.bmp.z:
    get:
      tags: [Maps]
      summary: "Night map 660×330 — Country borders"
      responses:
        "200":
          description: Compressed BMP map
          content:
            application/octet-stream:
              schema: { type: string, format: binary }

  /ham/HamClock/maps/map-N-660x330-DRAP-S.bmp.z:
    get:
      tags: [Maps]
      summary: "Night map 660×330 — DRAP absorption overlay"
      responses:
        "200":
          description: Compressed BMP map
          content:
            application/octet-stream:
              schema: { type: string, format: binary }

  /ham/HamClock/maps/map-N-660x330-MUF-RT.bmp.z:
    get:
      tags: [Maps]
      summary: "Night map 660×330 — Real-time MUF overlay"
      responses:
        "200":
          description: Compressed BMP map
          content:
            application/octet-stream:
              schema: { type: string, format: binary }

  /ham/HamClock/maps/map-N-660x330-Wx-in.bmp.z:
    get:
      tags: [Maps]
      summary: "Night map 660×330 — Weather (imperial units)"
      responses:
        "200":
          description: Compressed BMP map
          content:
            application/octet-stream:
              schema: { type: string, format: binary }

  /ham/HamClock/maps/map-N-660x330-Wx-mB.bmp.z:
    get:
      tags: [Maps]
      summary: "Night map 660×330 — Weather (metric units)"
      responses:
        "200":
          description: Compressed BMP map
          content:
            application/octet-stream:
              schema: { type: string, format: binary }

  /ham/HamClock/maps/map-N-1320x660-Aurora.bmp.z:
    get:
      tags: [Maps]
      summary: "Night map 1320×660 — Aurora overlay"
      responses:
        "200":
          description: Compressed BMP map
          content:
            application/octet-stream:
              schema: { type: string, format: binary }

  /ham/HamClock/maps/map-N-1320x660-Clouds.bmp.z:
    get:
      tags: [Maps]
      summary: "Night map 1320×660 — Cloud cover overlay"
      responses:
        "200":
          description: Compressed BMP map
          content:
            application/octet-stream:
              schema: { type: string, format: binary }

  /ham/HamClock/maps/map-N-1320x660-Countries.bmp.z:
    get:
      tags: [Maps]
      summary: "Night map 1320×660 — Country borders"
      responses:
        "200":
          description: Compressed BMP map
          content:
            application/octet-stream:
              schema: { type: string, format: binary }

  /ham/HamClock/maps/map-N-1320x660-DRAP-S.bmp.z:
    get:
      tags: [Maps]
      summary: "Night map 1320×660 — DRAP absorption overlay"
      responses:
        "200":
          description: Compressed BMP map
          content:
            application/octet-stream:
              schema: { type: string, format: binary }

  /ham/HamClock/maps/map-N-1320x660-MUF-RT.bmp.z:
    get:
      tags: [Maps]
      summary: "Night map 1320×660 — Real-time MUF overlay"
      responses:
        "200":
          description: Compressed BMP map
          content:
            application/octet-stream:
              schema: { type: string, format: binary }

  /ham/HamClock/maps/map-N-1320x660-Terrain.bmp.z:
    get:
      tags: [Maps]
      summary: "Night map 1320×660 — Terrain"
      responses:
        "200":
          description: Compressed BMP map
          content:
            application/octet-stream:
              schema: { type: string, format: binary }

  /ham/HamClock/maps/map-N-1320x660-Wx-in.bmp.z:
    get:
      tags: [Maps]
      summary: "Night map 1320×660 — Weather (imperial units)"
      responses:
        "200":
          description: Compressed BMP map
          content:
            application/octet-stream:
              schema: { type: string, format: binary }

  /ham/HamClock/maps/map-N-1320x660-Wx-mB.bmp.z:
    get:
      tags: [Maps]
      summary: "Night map 1320×660 — Weather (metric units)"
      responses:
        "200":
          description: Compressed BMP map
          content:
            application/octet-stream:
              schema: { type: string, format: binary }

  /ham/HamClock/maps/map-N-1980x990-Aurora.bmp.z:
    get:
      tags: [Maps]
      summary: "Night map 1980×990 — Aurora overlay"
      responses:
        "200":
          description: Compressed BMP map
          content:
            application/octet-stream:
              schema: { type: string, format: binary }

  /ham/HamClock/maps/map-N-1980x990-Clouds.bmp.z:
    get:
      tags: [Maps]
      summary: "Night map 1980×990 — Cloud cover overlay"
      responses:
        "200":
          description: Compressed BMP map
          content:
            application/octet-stream:
              schema: { type: string, format: binary }

  /ham/HamClock/maps/map-N-1980x990-Countries.bmp.z:
    get:
      tags: [Maps]
      summary: "Night map 1980×990 — Country borders"
      responses:
        "200":
          description: Compressed BMP map
          content:
            application/octet-stream:
              schema: { type: string, format: binary }

  /ham/HamClock/maps/map-N-1980x990-DRAP-S.bmp.z:
    get:
      tags: [Maps]
      summary: "Night map 1980×990 — DRAP absorption overlay"
      responses:
        "200":
          description: Compressed BMP map
          content:
            application/octet-stream:
              schema: { type: string, format: binary }

  /ham/HamClock/maps/map-N-1980x990-MUF-RT.bmp.z:
    get:
      tags: [Maps]
      summary: "Night map 1980×990 — Real-time MUF overlay"
      responses:
        "200":
          description: Compressed BMP map
          content:
            application/octet-stream:
              schema: { type: string, format: binary }

  /ham/HamClock/maps/map-N-1980x990-Terrain.bmp.z:
    get:
      tags: [Maps]
      summary: "Night map 1980×990 — Terrain"
      responses:
        "200":
          description: Compressed BMP map
          content:
            application/octet-stream:
              schema: { type: string, format: binary }

  /ham/HamClock/maps/map-N-1980x990-Wx-in.bmp.z:
    get:
      tags: [Maps]
      summary: "Night map 1980×990 — Weather (imperial units)"
      responses:
        "200":
          description: Compressed BMP map
          content:
            application/octet-stream:
              schema: { type: string, format: binary }

  /ham/HamClock/maps/map-N-1980x990-Wx-mB.bmp.z:
    get:
      tags: [Maps]
      summary: "Night map 1980×990 — Weather (metric units)"
      responses:
        "200":
          description: Compressed BMP map
          content:
            application/octet-stream:
              schema: { type: string, format: binary }

  /ham/HamClock/maps/map-N-2640x1320-Aurora.bmp.z:
    get:
      tags: [Maps]
      summary: "Night map 2640×1320 — Aurora overlay"
      responses:
        "200":
          description: Compressed BMP map
          content:
            application/octet-stream:
              schema: { type: string, format: binary }

  /ham/HamClock/maps/map-N-2640x1320-Clouds.bmp.z:
    get:
      tags: [Maps]
      summary: "Night map 2640×1320 — Cloud cover overlay"
      responses:
        "200":
          description: Compressed BMP map
          content:
            application/octet-stream:
              schema: { type: string, format: binary }

  /ham/HamClock/maps/map-N-2640x1320-Countries.bmp.z:
    get:
      tags: [Maps]
      summary: "Night map 2640×1320 — Country borders"
      responses:
        "200":
          description: Compressed BMP map
          content:
            application/octet-stream:
              schema: { type: string, format: binary }

  /ham/HamClock/maps/map-N-2640x1320-DRAP-S.bmp.z:
    get:
      tags: [Maps]
      summary: "Night map 2640×1320 — DRAP absorption overlay"
      responses:
        "200":
          description: Compressed BMP map
          content:
            application/octet-stream:
              schema: { type: string, format: binary }

  /ham/HamClock/maps/map-N-2640x1320-MUF-RT.bmp.z:
    get:
      tags: [Maps]
      summary: "Night map 2640×1320 — Real-time MUF overlay"
      responses:
        "200":
          description: Compressed BMP map
          content:
            application/octet-stream:
              schema: { type: string, format: binary }

  /ham/HamClock/maps/map-N-2640x1320-Terrain.bmp.z:
    get:
      tags: [Maps]
      summary: "Night map 2640×1320 — Terrain"
      responses:
        "200":
          description: Compressed BMP map
          content:
            application/octet-stream:
              schema: { type: string, format: binary }

  /ham/HamClock/maps/map-N-3960x1980-Clouds.bmp.z:
    get:
      tags: [Maps]
      summary: "Night map 3960×1980 — Cloud cover overlay"
      responses:
        "200":
          description: Compressed BMP map
          content:
            application/octet-stream:
              schema: { type: string, format: binary }

  /ham/HamClock/maps/map-N-3960x1980-Terrain.bmp.z:
    get:
      tags: [Maps]
      summary: "Night map 3960×1980 — Terrain"
      responses:
        "200":
          description: Compressed BMP map
          content:
            application/octet-stream:
              schema: { type: string, format: binary }

  /ham/HamClock/maps/map-N-3960x1980-Wx-in.bmp.z:
    get:
      tags: [Maps]
      summary: "Night map 3960×1980 — Weather (imperial units)"
      responses:
        "200":
          description: Compressed BMP map
          content:
            application/octet-stream:
              schema: { type: string, format: binary }

  /ham/HamClock/maps/map-N-5940x2970-Aurora.bmp.z:
    get:
      tags: [Maps]
      summary: "Night map 5940×2970 — Aurora overlay"
      responses:
        "200":
          description: Compressed BMP map
          content:
            application/octet-stream:
              schema: { type: string, format: binary }

  /ham/HamClock/maps/map-N-5940x2970-Countries.bmp.z:
    get:
      tags: [Maps]
      summary: "Night map 5940×2970 — Country borders"
      responses:
        "200":
          description: Compressed BMP map
          content:
            application/octet-stream:
              schema: { type: string, format: binary }

  /ham/HamClock/maps/map-N-5940x2970-MUF-RT.bmp.z:
    get:
      tags: [Maps]
      summary: "Night map 5940×2970 — Real-time MUF overlay"
      responses:
        "200":
          description: Compressed BMP map
          content:
            application/octet-stream:
              schema: { type: string, format: binary }

  /ham/HamClock/maps/map-N-5940x2970-Wx-mB.bmp.z:
    get:
      tags: [Maps]
      summary: "Night map 5940×2970 — Weather (metric units)"
      responses:
        "200":
          description: Compressed BMP map
          content:
            application/octet-stream:
              schema: { type: string, format: binary }
